#contenedorError {
    width: 100%;
    height: 100vh;
    /*background-color: #F8FAFB;*/
    background-color: #f6f7fb00;
    position:relative;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#errorGrid {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}


#errorImg {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

#errorImg img {
    border-radius: 10px;
    width: 100%;
    height: 100%;

}

#errorMsg {
    display:flex;
    align-items: center;
    justify-content: center;

}

#modalError {
    min-height: 80%;
    
}

.modal-confirm {	
	color: #8e8e8e;

}


.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;		
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
    display: flex;
    flex-direction: column;
	border-radius: 5px 5px 0 0;
}
.modal-confirm h4 {
	color: #545557;
	text-align: center;
	font-size: 30px;
	margin: 0 0 25px;
}

  


